.back {
  position: fixed;
  bottom: 10px;
  right: 10px;
  
 
  z-index: 100;
  font-family: serif;
}

.back button {
  color: rgb(245, 94, 48);
  background-color: rgba(5, 5, 5, 0.473);
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.6);
}