.burgerNav {
  height: 50px;
  width: 100%;
  /* background-color: gray; */
  position: fixed;
  z-index: 50;
  left: 210px;
  top: 2px;
}

.burgerBtn {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.burgerBtn:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 30px;
  background-color: #fff;
  color: #202020;
  z-index: 10;
}

.burgerBtn span {
  content: "";
  position: absolute;
  top: 14px;
  width: 20px;
  background-color: #fff;
  height: 2px;
  z-index: 10;
}

.burgerBtn:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 26px;
  top: 21px;
  background-color: #fff;
  color: #202020;
  z-index: 10;
}
