.openWindow,
.closeWindow {
  background-color: brown;
  border: none;
  right: 0;
  margin-top: 5px;
  color: #fff;
  padding: 3px;
  cursor: pointer;
}

.reactModal {
  background-color: rgba(5, 5, 5, 0.897);
  width: 400px;
  height: 600px;

  margin: 0 auto;
  text-align: left;

  border-radius: 5px;
  padding: 10px;
}

.ReactModal__Overlay--after-open {
  position: fixed;
  inset: 0px;
  background-color: rgb(170, 9, 9);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
