
.myjob {
  width: 100px;
  border-radius: 6px;
  background-color: #ED3024;
  cursor: pointer;
}

.myjob div {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 10px;
  color: #FFFFFF;
  padding: 5px 5px;
}