.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
  gap: 24px;
  padding: 14px 5px;
}

.navLink {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.ulList {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 18px;
  /* margin-bottom: 30px; */
  text-align: center;
}

.ulList li:hover {
  color: cyan;
  transition: all 0.2s;
}

.header a {
  padding: 20px;
}
